<% include ../partials/header %>


<div class="row" style="text-align: center; ">
    
  <h1>Welcome to the Edit products page</h1>  <br>
  <div style="text-align: center; width: 100%; background-color: rgba(255, 255, 255, 0.8);text-align: center; margin-bottom: 10px;" >
        
          <% result.forEach(function(product) { %>
         <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/editproduct/<%= product.Id %>" method="post">
                  
                  
                    <label for="name">Name</label>
                    <input name="name" type="text" value="<%= product.Name %>" />
                     
                     <label for="description">Description</label>
                    <input name="description" type="text" value="<%= product.Description %>" />
                   
                   <label for="price">Price</label> 
                    <input name="price" type="text" value="<%= product.Price %>" />
                    
                    <label for="image">Image</label> 
                    <input name="image" type="text" value="<%= product.Image %>" />



<button class="button">Edit</button>
          </div>
              </form>
              <% }); %>
    </div>
  
</div>
<% include ../partials/footer %>